certifi==2021.5.30
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
distlib==0.3.3
filelock==3.0.12
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
platformdirs==2.3.0
querido-diario-api-wrapper==0.0.2
requests==2.26.0
six==1.16.0
urllib3==1.26.6
virtualenv==20.8.0
Werkzeug==2.0.1