<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
 <link rel="stylesheet" href="../static/css/log.css">
 <script src="../static/js/script.js"></script>
 <title>Recuperar Senha</title>
</head>

<body>

 <header>
  <img class="logo" src="../static/img/logo-branca-150.png">
 </header>
 <main>

  <form class="confirmacao" method="POST">
   <div class="campos">
    <h1>Recuperação de senha!</h1>
    <p>Insira sua nova senha:</p>
    <input type="text" name="senha" id ="email"><br>
    <input type="submit" class="botao">
   </div>
  </form>
 </main>

</body>

</html>