<!DOCTYPE html>
<html lang="pt-br">

    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/cad.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/header.css">
        <title>Cadastro</title>
    </head>

    <body>
        <header>
            <img class="logo" src="../static/img/logo-150.png">
        </header>

        <main>
            <form class="cadastro">
                <div class="campos">
                    <p>Nome completo</p>
                    <input class="resp" type="text" name="nome">
                    <p>E-mail</p>
                    <input class="resp" type="text" name="e-mail" placeholder="exemplo@fatec.sp.gov" pattern="^[a-zA-Z0-9]+@fatec.sp.gov"  oninvalid="setCustomValidity('Insira o e-mail instituicional.')" required id='email'>
                    <p>Senha</p>
                    <input class="resp" type="password" name="senha" required><br>
                </div>
                <input type="submit" class="botao">
            </form>
        </main>                                                                                       
    </body>
</html>