<!DOCTYPE html>
<html lang="pt-br">

    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/cad.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <title>Cadastro</title>
    </head>

    <body>
        <header>
            <img class="logo" src="../static/img/logo.png">
        </header>

        <main>
            <form class="cadastro">
                <div class="campos">
                    <p>Nome completo</p>
                    <input type="text" name="nome">
                    <p>E-mail</p>
                    <input type="text" name="e-mail" placeholder="exemplo@fatec.sp.gov">
                    <p>Senha</p>
                    <input type="password" name="senha"><br>
                </div>
                <button><a href="login.html">Cadastrar</a></button><br>
            </form>
        </main>                                                                                       
    </body>
</html>