<!DOCTYPE html>
<html lang="pt-br">

    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/cad.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <title>Cadastro</title>
    </head>

    <body>
        <header>
            <img class="logo" src="../static/img/logo.png">
        </header>

        <main>
            <form class="cadastro">
                <div class="campos">
                    <p>Nome completo</p>
                    <input type="text" name="nome" required>
                    <!--<p>CPF</p>
                    <input type="text" name="cpf" maxlength="11" placeholder="000.000.000-00" required>
                    <p>Data de Nascimento</p>
                    <input type="date" name="data de nascimento" required>
                    <p>Matrícula</p>
                    <input type="text" name="matricula" maxlength="13" placeholder="0000000000000" required>-->
                    <p>E-mail</p>
                    <input type="text" name="e-mail" placeholder="exemplo@fatec.sp.gov" required>
                    <p>Senha</p>
                    <input type="password" name="senha" required><br>
                </div>
            
                <!--<button><a href='/'>Cadastrar</a></button><br>-->
                <input type="submit" class="botao">
            </form>
        </main>                                                                                       
    </body>
</html>