<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../static/css/log.css">
 <title>Confirmação de E-mail</title>
</head>

<body>

 <header>
  <img class="logo" src="../static/img/logo-150.png">
 </header>
 <main>

  <form class="confirmacao" method="POST">
   <div class="campos">
    <h1>Confirme seu e-mail!</h1>
    <p>Insira seu código:</p>
    <input type="text" name="cod" placeholder="000000" maxlength="6"><br>
    <input type="submit" class="botao">
   </div>
  </form>
 </main>

</body>

</html>