<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/CRUD.css'>
  <link rel="stylesheet" href="../static/img/favicon.ico">
  <title>CRUD</title>
</head>
<body>

    <header>
        <img src="../static/img/logo-150.png" alt="Logo" class="logo">
    </header>

    <main>
        <form class="edicao">
            <div class="campos">
                <p>Nome completo</p>
                <input class="resp" type="text" name="nome" id="nome">
                <p>E-mail</p>
                <input class="resp" type="text" name="e-mail" id="email">
                <p>Cargo</p>
                <input class="resp" type="text" name="cargo" id="cargo">
                <button type="alter" class="botao">Confirmar alterações</button>
            </div>
        </form>
    </main>
</body>
</html>