<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' type="text/css" href='../static/css/editarusuario.css'>

    <!--links para o multiselect-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <title>Editar Usuário</title>
</head>

{% if perm == 1 or perm == 2 %} 
    <body style="background-color: #1b1c21;">

        <header>
            <img src="../static/img/logo-branca-150.png" alt="Logo" class="logo">
        </header>

        <main>
            <form method="POST" class="edicao">
                <div class="campos">
                    <p>Nome Completo</p>
                    <input class="resp" type="text" name="nome" id="nome">
                    <p>E-mail</p>
                    <input class="resp" type="text" name="e-mail" id="email">
                    <p>Cargo</p>
                    <div class="cargo">
                        <select class="selectpicker" name="cargo" data-width='330px' multiple id="cargo" title="Cargo">
                            <option value="1">Diretor</option>
                            <option value="2">Secretaria</option>
                            <option value="3">Coordenadores</option>
                            <option value="4">Professores</option>
                        </select>
                    </div>

                    <p>Turma(s)</p>
                    <div class="turma">
                        <select name="curso" class="selectpicker" data-width='330px' multiple title="Curso">

                            <option value="1">Análise e Desenvolvimento de Sistemas</option>
                            <option value="2">Banco de Dados</option>
                            <option value="3">Desenvolvimento de Software Multiplataforma</option>
                            <option value="4">Gestão da Produção Industrial</option>
                            <option value="5">Logística</option>
                            <option value="6">Manufatura Avançada</option>
                            <option value="7">Manutenção de Aeronaves</option>
                            <option value="8">Projetos de Estruturas Aeronáuticas</option>

                        </select>
                    </div>
                        
                    <button type="alter" class="botao">Confirmar alterações</button>
                </div>
            </form>
        </main>
    </body>
{% endif %}
</html>