<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel='stylesheet' type="text/css" href='../static/css/feed.css'>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img src="../static/img/logo.png" alt="Logo" class="logo">
        <button class="adm">
            <a href="/feed-adm">Visualize como Adiministrador</a>
        </button>
    </header>
    <main>
        <div class="divExterna">
          <div class="divInterna">
            <section class="filter">
              <div class="date">
                <input type="date" name="data" id="data"></input>
              </div>
    
              <section>
                <div class="drop">
                  <button>↓ Curso</button>
                  <div class="content">
                    <a href="#">ADM</a>
                    <a href="#">Banco de Dados</a>
                    <a href="#">DSM</a>
                    <a href="#">Gestão de Produção Industrial</a>
                    <a href="#">Logística</a>
                    <a href="#">Manufatura Avançada</a>
                    <a href="#">Projetos de Estruturas Aeronauticas</a>
                  </div>
                </div>
              </section>
    
              <section>
                <div class="drop">
                  <button>↓ Assuntos</button>
                  <div class="content">
                    <a href="#">Covid-19</a>
                    <a href="#">Provas</a>
                    <a href="#">Recados</a>
                    <a href="#">Estágio</a>
                    <a href="#">Evento</a>
                    <a href="#">Notas & similares</a>
                    <a href="#">Recados</a>
                    <a href="#">Reunião</a>
                    <a href="#">Urgente</a>
                  </div>
                </div>
              </section>
            </section>

            <div id="divContent" class='contents' >
              <section class="info">
                <div class="top-info">
                  <div class="pic">
                  </div>
                  <div class="user-info">
                    <p>Diretoria postou para Professores</p>
                    <p>09/09/2021</p>
                  </div>
                </div>
                <div class="corpo-info">
                  <p>
                    Bom dia,
                    hoje às 19h teremos reunião entre discentes para acordar assuntos sobre a volta às aulas presenciais.
                  </p>
                </div>
              </section>
    
              <section class="info">
                <div class="top-info">
                  <div class="pic">
                  </div>
                  <div class="user-info">
                    <p>Secretaria Acadêmica postou para Alunos</p>
                    <p>09/09/2021</p>
                  </div>
                </div>
                <div class="corpo-info">
                  <p>
                    Boa tarde,
                    para agendar ida aos laboratórios da instituição, favor entrar em contato pelo e-mail da secretaria com
                    antecedência.
                  </p>
                </div>
              </section>
              
              <section class="info">
                <div class="top-info">
                  <div class="pic">
                  </div>
                  <div class="user-info">
                    <p>Diretoria postou para Professores</p>
                    <p>09/09/2021</p>
                  </div>
                </div>
                <div class="corpo-info">
                  <p>
                    Bom dia,
                    hoje às 19h teremos reunião entre discentes para acordar assuntos sobre a volta às aulas presenciais.
                  </p>
                </div>
              </section>
    
              <section class="info">
                <div class="top-info">
                  <div class="pic">
                  </div>
                  <div class="user-info">
                    <p>Secretaria Acadêmica postou para Alunos</p>
                    <p>09/09/2021</p>
                  </div>
                </div>
                <div class="corpo-info">
                  <p>
                    Boa tarde,
                    para agendar ida aos laboratórios da instituição, favor entrar em contato pelo e-mail da secretaria com
                    antecedência.
                  </p>
                </div>
              </section>
            </div>  
          </div>
        </div>
      </main>
    
      <footer>
        <div class="logo-gov">
          <img src="../static/img/footer/footer.png" alt="Logo Gov">
        </div>
    
        <div class="social">
          <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
              src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>
    
          <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
              src="../static/img/footer/fb-35.png" alt="facebook"></a>
    
          <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
              src="../static/img/footer/ig-35.png" alt="Instagram"></a>
    
          <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
              src="../static/img/footer/yt-35.png" alt="Youtube"></a>
        </div>
        <p>Faculdade de Tecnologia de São José dos Campos</p>
        <p>Todos os Direitos Reservados</p>
      </footer>
    
    </body>
    
    </html>

</body>
</html>