<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/feed.css'>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <!--links para estilização dos filtros-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <title>Feed</title>

</head>

<body style="background-color: #1B1C21;">

  <header>
    <img src="../static/img/logo-branca-150.png" alt="Logo" class="logo">


    <nav>
      <div class="nav-menu">
        <ul>
          <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>
              <div class="esconder-mobile">Sair</div>
            </a></li>
          <li><a href="/area-usuario"><i class="fas fa-user"></i>
              <div class="esconder-mobile">Minha área</div>
            </a></li>
          <li><a href="/arquivados"><i class="fas fa-archive"></i>
              <div class="esconder-mobile">Arquivados</div>
            </a></li>
          {% if perm == 1 or perm == 2 %}
          <li><a href="/envio-informacao"><i class="fas fa-pen"></i>
              <div class="esconder-mobile">Escrever publicação</div>
            </a></li>
          {% endif %}
          {% if perm == 2 %}
          <li><a href="/editar-usuario"><i class="fas fa-user-edit"></i>
              <div class="esconder-mobile">Editar usuário</div>
            </a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="divExterna">
      <div class="divInterna">
        <section class="filter">
          <form method="post" id="form_filtros">
            <div id="top" class="filtros">
              <select id="select_assunto" name="select_assunto" class="selectpicker" data-width=240px multiple
                data-actions-box="true" title="Assunto">
                <option value="Covid-19" style="font-size: 16px;">Covid-19</option>
                <option value="Estágio" style="font-size: 16px;">Estágio</option>
                <option value="Evento" style="font-size: 16px;">Evento</option>
                <option value="Notas & similares" style="font-size: 16px;">Notas & similares</option>
                <option value="Recados" style="font-size: 16px;">Recados</option>
                <option value="Reunião" style="font-size: 16px;">Reunião</option>
                <option value="Urgente" style="font-size: 16px;">Urgente</option>
              </select>

              <input type="hidden" name="hidden_assunto" id="hidden_assunto" />
              {% if perm == 1 or perm == 2 %}
              <select id="select_destinatario" name="select_destinatario" class="selectpicker" data-width=240px multiple
                data-actions-box="true" title="Destinatário">
                {% if cargo_user[0] == 1 or cargo_user[0] == 3 %}
                <option value="Diretor" style="font-size: 16px;">Diretor</option>
                <option value="Secretaria" style="font-size: 16px;">Secretaria</option>
                {% endif %}
                {% if cargo_user[0] == 2 or cargo_user[0] == 1 or cargo_user[0] == 3 %}
                <option value="Coordenadores" style="font-size: 16px;">Coordenadores</option>
                {% endif %}
                <option value="Professores" style="font-size: 16px;">Professores</option>
                <option value="Alunos" style="font-size: 16px;">Alunos</option>
              </select>
              {% endif %}
              <input type="hidden" name="hidden_destinatario" id="hidden_destinatario" />

              <select id="select_curso" name="select_curso" class="selectpicker" data-width='240px' multiple
                data-actions-box="true" title="Curso">
                <option value="1" style="font-size: 16px;">Análise e Desenvolvimento de Sistemas</option>
                <option value="2" style="font-size: 16px;">Banco de Dados</option>
                <option value="3" style="font-size: 16px;">Desenvolvimento de Software Multiplataforma</option>
                <option value="4" style="font-size: 16px;">Gestão da Produção Industrial</option>
                <option value="5" style="font-size: 16px;">Logística</option>
                <option value="6" style="font-size: 16px;">Manufatura Avançada</option>
                <option value="7" style="font-size: 16px;">Manutenção de Aeronaves</option>
                <option value="8" style="font-size: 16px;">Projetos de Estruturas Aeronáuticas</option>
              </select>
            </div>

            <input type="hidden" name="hidden_curso" id="hidden_curso" />

            <div class="container">
              <div id="inicial" class="datainicial">
                <p>Entre: </p>
                <input type="date" name="dataInicial" id="dataInicial">
              </div>

              <div id="final" class="datafim">
                <p>Até: </p>
                <input type="date" name="dataFinal" id="dataFinal">
              </div>
            </div>
          </form>
        </section>

        <!--bloco python para display de info:
         info 0 = TITULO  ;info 1 = REMETENTE ;info 2 = DESTINATARIO;info 3 = DATA;info 4 = ASSUNTO ;info 5 = CURSO; info 6 = MENSAGEM 
         
          info 0 = TITULO; info 1 = DATA; info 2 = ASSUNTO; info 3 = MENSAGEM; info 4 = SEMESTRE; info 5 = CURSO; info 6 = CARGO
        -->

        <div id="divContent" class='contents'>
          {% for info in infoDetails %}
          <section class="info">

            <div class="dropdown">
              <button class="dropbtn"><i onclick="mostrar()" class="fas fa-ellipsis-v"></i></button>
              <div class="dropdown-content">
                <a href="/arquivar-post/{{info[0]}}" class="mostrar"><i class="fas fa-archive"></i>Arquivar</a>
                {% for aut in autoria %}
                {% if aut[1] == info[0] %}
                <a href="/editar-post/{{info[0]}}" class="mostrar"><i class="fas fa-edit"></i>Editar</a>
                <a href="/excluir-post/{{info[0]}}" class="mostrar"><i class="fas fa-trash-alt"></i>Excluir</a>
                {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="titulo">
              <h3>{{info[1]}}</h3>
            </div>

            <div class="user-info">
              <p><em>{{info[6]}}</em> enviou para <em>{{info[5]}}</em></p>
              <p class="data">{{info[2]}}</p>
            </div>

            <div class="corpo-info">
              <p> {{info[4]}}</p>
              <div class="anexo">
                {% if info[7] != '' %}
                {% set arquivo = info[7].split(',') %}
                {% for file in arquivo %}
                <p><a href="/download/{{file}}" id="anexo"><i class="fas fa-file-download"></i> {{file}}</a></p>
                {% endfor %}
                {% endif %}
              </div>
            </div>


          </section>
          {% endfor %}
        </div>
      </div>

      <!--fim bloco em python para display-->

  </main>

  <footer>
    <div class="logo-gov">
      <img src="../static/img/footer/footer.png" alt="Logo Gov">
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
          src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

      <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
          src="../static/img/footer/fb-35.png" alt="facebook"></a>

      <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
          src="../static/img/footer/ig-35.png" alt="Instagram"></a>

      <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
          src="../static/img/footer/yt-35.png" alt="Youtube"></a>
    </div>
    <p>Faculdade de Tecnologia de São José dos Campos</p>
    <p>Todos os Direitos Reservados</p>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>

    $(document).ready(function () {

      $('#select_assunto').change(function () {
        $('#hidden_assunto').val($('#select_assunto').val());
        $('#form_filtros').submit();
      });

      $('#select_curso').change(function () {
        $('#hidden_curso').val($('#select_curso').val());
        $('#form_filtros').submit();
      });

      $('#select_destinatario').change(function () {
        $('#hidden_destinatario').val($('#select_destinatario').val());
        $('#form_filtros').submit();
      });

      $('#dataInicial').change(function () {
        $('#form_filtros').submit();
      });

      $('#dataFinal').change(function () {
        $('#form_filtros').submit();
      });

      $('#form_filtros').on('submit', function (event) {
        event.preventDefault();
        var form_data = $(this).serialize();
        $.ajax({
          url: "/filtrar_feed_ajax",
          method: "POST",
          data: form_data,
          success: function (data) {
            $('#divContent').html(data);
          }
        })

      });
    });

  </script>

</body>

</html>