<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/feed.css'>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <script src="../static/js/script.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <!--links para estilização dos filtros-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <title>Feed</title>

</head>

<body style="background-color: #1B1C21;">

  <header>
    <img src="../static/img/logo-150.png" alt="Logo" class="logo">

    <input type="checkbox" id="open">
    <label for="open"></label>
    <nav>
      <div class="nav-menu">
        <ul>
          <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
          <li><a href="/area-usuario"><i class="fas fa-user"></i> Minha área</a></li>
          {% if perm == 1 or perm == 2 %}
          <li><a href="/envio-informacao"><i class="fas fa-pen"></i> Escrever publicação</a></li>
          {% endif %}
          {% if perm == 2 %}
          <li><a href="/editar-usuario"><i class="fas fa-user-edit"></i> Editar usuário</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="divExterna">
      <div class="divInterna">
        <section class="filter">
          <form method="post" id="form_filtros">
            <div id="top">
              <select id="select_assunto" name="select_assunto" class="selectpicker" data-width=255px multiple
                title="Assunto">
                <option value="Covid-19">Covid-19</option>
                <option value="Estágio">Estágio</option>
                <option value="Evento">Evento</option>
                <option value="Notas & similares">Notas & similares</option>
                <option value="Recados">Recados</option>
                <option value="Reunião">Reunião</option>
                <option value="Urgente">Urgente</option>
              </select>

              <input type="hidden" name="hidden_assunto" id="hidden_assunto" />

              <select id="select_destinatario" name="select_destinatario" class="selectpicker" data-width=255px multiple title="Destinatário">
                {% for cargo in cargos %}
                <option value="{{cargo[0]}}">{{cargo[1]}}</option>
                {% endfor %}
              </select>

              <input type="hidden" name="hidden_destinatario" id="hidden_destinatario" />

              <select id="select_turma" name="select_turma" class="selectpicker" data-width='255px' multiple
                title="Turma">
                <optgroup label="Análise e Desenvolvimento de Sistemas">
                  <option value="ADS1">1° Sem</option>
                  <option value="ADS2">2° Sem</option>
                  <option value="ADS3">3° Sem</option>
                  <option value="ADS4">4° Sem</option>
                  <option value="ADS5">5° Sem</option>
                  <option value="ADS6">6° Sem</option>
                </optgroup>
                <optgroup label="Banco de Dados">
                  <option value="BDD1">1° Sem</option>
                  <option value="BDD2">2° Sem</option>
                  <option value="BDD3">3° Sem</option>
                  <option value="BDD4">4° Sem</option>
                  <option value="BDD5">5° Sem</option>
                  <option value="BDD6">6° Sem</option>
                </optgroup>
                <optgroup label="Desenvolvimento de Software Multiplataforma">
                  <option value="DSM1">1° Sem</option>
                  <option value="DSM2">2° Sem</option>
                  <option value="DSM3">3° Sem</option>
                  <option value="DSM4">4° Sem</option>
                  <option value="DSM5">5° Sem</option>
                  <option value="DSM6">6° Sem</option>
                </optgroup>
                <optgroup label="Gestão da Produção Industrial">
                  <option value="GPI1">1° Sem</option>
                  <option value="GPI2">2° Sem</option>
                  <option value="GPI3">3° Sem</option>
                  <option value="GPI4">4° Sem</option>
                  <option value="GPI5">5° Sem</option>
                  <option value="GPI6">6° Sem</option>
                </optgroup>
                <optgroup label="Logística">
                  <option value="LOG1">1° Sem</option>
                  <option value="LOG2">2° Sem</option>
                  <option value="LOG3">3° Sem</option>
                  <option value="LOG4">4° Sem</option>
                  <option value="LOG5">5° Sem</option>
                  <option value="LOG6">6° Sem</option>
                </optgroup>
                <optgroup label="Manufatura Avançada">
                  <option value="MAV1">1° Sem</option>
                  <option value="MAV2">2° Sem</option>
                  <option value="MAV3">3° Sem</option>
                  <option value="MAV4">4° Sem</option>
                  <option value="MAV5">5° Sem</option>
                  <option value="MAV6">6° Sem</option>
                </optgroup>
                <optgroup label="Manutenção de Aeronaves">
                  <option value="MAE1">1° Sem</option>
                  <option value="MAE2">2° Sem</option>
                  <option value="MAE3">3° Sem</option>
                  <option value="MAE4">4° Sem</option>
                  <option value="MAE5">5° Sem</option>
                  <option value="MAE6">6° Sem</option>
                </optgroup>
                <optgroup label="Projetos de Estruturas Aeronáuticas">
                  <option value="PEA1">1° Sem</option>
                  <option value="PEA2">2° Sem</option>
                  <option value="PEA3">3° Sem</option>
                  <option value="PEA4">4° Sem</option>
                  <option value="PEA5">5° Sem</option>
                  <option value="PEA6">6° Sem</option>
                </optgroup>
              </select>
            </div>
            
            <input type="hidden" name="hidden_turma" id="hidden_turma" />
            
            <div class="container">
              <div id="inicial">
                <p>Entre: </p>
                <input type="date" name="" max="" id="fromDate">
              </div>

              <div id="final">
                <p>Até: </p>
                <input type="date" name="" min="" id="toDate">
              </div>
            </div>

            


          </form>
        </section>

        <!--bloco python para display de info:
         info 0 = TITULO  ;info 1 = REMETENTE ;info 2 = DESTINATARIO;info 3 = DATA;info 4 = ASSUNTO ;info 5 = CURSO; info 6 = MENSAGEM 
         
          info 0 = TITULO; info 1 = DATA; info 2 = ASSUNTO; info 3 = MENSAGEM; info 4 = SEMESTRE; info 5 = CURSO; info 6 = CARGO
        -->

        <div id="divContent" class='contents'>
          {% for info in infoDetails %}
          <section class="info">
            {% for aut in autoria %}
            {% if aut[1] == info[0] %}
            <a href="/editar-post/{{info[0]}}" class="mostrar"><i class="fas fa-edit"></i> Editar</a>
            <a href="/excluir-post/{{info[0]}}" class="mostrar"><i class="fas fa-trash-alt"></i> Excluir</a>

            {% endif %}
            {% endfor %}
            <div class="user-info">
              <i onclick="mostrar()" class="fas fa-ellipsis-v"></i>
              <div class="titulo">
                <h3>{{info[1]}}</h3>
              </div>

              <div>
                <p><em>{{info[6]}}</em> enviou para <em>{{info[5]}}</em></p>
                <p class="data">{{info[2]}}</p>
              </div>

            </div>
            <div class="corpo-info">
              <p> {{info[4]}}</p>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
      <!--fim bloco em python para display-->

  </main>

  <footer>
    <div class="logo-gov">
      <img src="../static/img/footer/footer.png" alt="Logo Gov">
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
          src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

      <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
          src="../static/img/footer/fb-35.png" alt="facebook"></a>

      <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
          src="../static/img/footer/ig-35.png" alt="Instagram"></a>

      <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
          src="../static/img/footer/yt-35.png" alt="Youtube"></a>
    </div>
    <p>Faculdade de Tecnologia de São José dos Campos</p>
    <p>Todos os Direitos Reservados</p>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    var fromDate;
    $('#fromDate').on('change', function () {
      fromDate = $(this).val();
      $('#toDate').prop('max', function () {
        return fromDate;
      })
    });

    var toDate;
    $('#toDate').on('change', function () {
      toDate = $(this).val();
      $('#fromDate').prop('min', function () {
        return toDate;
      })
    });

    $(document).ready(function () {

      $('#select_assunto').change(function () {
        $('#hidden_assunto').val($('#select_assunto').val());
        $('#form_filtros').submit();
      });

      $('#select_turma').change(function () {
        $('#hidden_turma').val($('#select_turma').val());
        $('#form_filtros').submit();
      });

      $('#select_destinatario').change(function () {
        $('#hidden_destinatario').val($('#select_destinatario').val());
        $('#form_filtros').submit();
      });

      $('#form_filtros').on('submit', function (event) {
        event.preventDefault();
        var form_data = $(this).serialize();
        $.ajax({
          url: "/filtrar_feed_ajax",
          method: "POST",
          data: form_data,
          success: function (data) {
            $('#divContent').html(data);
          }
        })

      });
    });

  </script>

</body>

</html>