<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/feed.css'>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <script src="../static/js/script.js"></script>

  <!--links para estilização dos filtros-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <title>Feed</title>
</head>

<body style="background-color: #1B1C21;">

  <header>
    <img src="../static/img/logo-150.png" alt="Logo" class="logo">

    <div class="topnav">
      <div class="myLinks" id="myLinks">
        <a href="#news">Sair</a>
        <a href="#contact">Escrever publicação</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <div class="container">
          <input type="checkbox" id="checkbox-menu">

          <label for="checkbox-menu">
            <span></span>
            <span></span>
            <span></span>
          </label>

        </div>
      </a>
    </div>
  </header>

  <main>
    <div class="divExterna">
      <div class="divInterna">
        <section class="filter">

          <div class="top-filter">

              <select class="selectpicker" data-width=170px multiple title="Assunto">
                <option value="Covid-19">Covid-19</option>
                <option value="Estágio">Estágio</option>
                <option value="Evento">Evento</option>
                <option value="Notas & similares">Notas & similares</option>
                <option value="Recados">Recados</option>
                <option value="Reunião">Reunião</option>
                <option value="Urgente">Urgente</option>
              </select>

              <select class="selectpicker" data-width=170px multiple title="Destinatário">
                <option value="1">Diretor</option>
                <option value="2">Secretaria</option>
                <option value="3">Coordenadores</option>
                <option value="4">Professores</option>
                <option value="5">Alunos</option>
              </select>

              <select class="selectpicker" data-width=170px multiple title="Semestre">
                <option value="1">1° Sem</option>
                <option value="2">2° Sem</option>
                <option value="3">3° Sem</option>
                <option value="4">4° Sem</option>
                <option value="5">5° Sem</option>
                <option value="6">6° Sem</option>
              </select>
              <select class="selectpicker" data-width=170px multiple title="Curso">
                <option value="1">Análise e Desenvolvimento de Sistemas</option>
                <option value="2">Banco de Dados</option>
                <option value="3">Desenvolvimento de Software Multiplataforma</option>
                <option value="4">Gestão da Produção Industrial</option>
                <option value="5">Logística</option>
                <option value="6">Manufatura Avançada</option>
                <option value="7">Manutenção de Aeronaves</option>
                <option value="8">Projetos de Estruturas Aeronáuticas</option>
              </select>
            </div>
            
          <div class="container">
            <div id="inicial">
              <input type="date" name="" max="" id="fromDate">
            </div>

            <div id="final">
              <input type="date" name="" min="" id="toDate">
            </div>
          </div>
        </section>

        <!--bloco python para display de info:
         info 0 = TITULO  ;info 1 = REMETENTE ;info 2 = DESTINATARIO;info 3 = DATA;info 4 = ASSUNTO ;info 5 = CURSO; info 6 = MENSAGEM -->

        <div id="divContent" class='contents'>
          {% for info in infoDetails %}
          <section class="info">
            <div class="user-info">
              <div class="titulo">
                <h3>{{info[0]}}</h3>
              </div>
              <div>
                <p><em>{{info[1]}}</em> enviou para <em>{{info[2]}}</em></p>
              </div>
              <p>{{info[3]}}</p>
            </div>
            <div class="corpo-info">
              <p> {{info[6]}}</p>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
      <!--fim bloco em python para display-->

  </main>

  <footer>
    <div class="logo-gov">
      <img src="../static/img/footer/footer.png" alt="Logo Gov">
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
          src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

      <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
          src="../static/img/footer/fb-35.png" alt="facebook"></a>

      <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
          src="../static/img/footer/ig-35.png" alt="Instagram"></a>

      <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
          src="../static/img/footer/yt-35.png" alt="Youtube"></a>
    </div>
    <p>Faculdade de Tecnologia de São José dos Campos</p>
    <p>Todos os Direitos Reservados</p>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    var fromDate;
    $('#fromDate').on('change', function () {
      fromDate = $(this).val();
      $('#toDate').prop('max', function () {
        return fromDate;
      })
    });

    var toDate;
    $('#toDate').on('change', function () {
      toDate = $(this).val();
      $('#fromDate').prop('min', function () {
        return toDate;
      })
    });
  </script>

</body>

</html>