<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/feed.css'>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://kit.fontawesome.com/b01f879dd9.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

  <title>Feed</title>
</head>

<body>

  <header>
    <img src="../static/img/logo-150.png" alt="Logo" class="logo">
  </header>


  <main>
    <div class="divExterna">
      <div class="divInterna">
        <section class="filter">
          <div class="date">
            <input type="text" name="daterange" id="data" value="04/10/2021 - 05/10/2021"></input>
          </div>
          <select name="curso" id="multiple-checkboxes" multiple data-placeholder="Filtrar por curso..." multiple class="chosen-select" >
            <option value="select" disabled selected>Curso</option>
            <option value="1">Análise e Desenvolvimento de Sistemas</option>
            <option value="2">Banco de Dados</option>
            <option value="3">Desenvolvimento de Software Multiplataforma</option>
            <option value="4">Gestão da Produção Industrial</option>
            <option value="5">Logística</option>
            <option value="6">Manufatura Avançada</option>
            <option value="7">Manutenção de Aeronaves</option>
            <option value="8">Projetos de Estruturas Aeronáuticas</option>
          </select>

          <select name="assunto" id="multiple-checkboxes" multiple data-placeholder="Filtrar por assunto..." multiple class="chosen-select">
            <option value="assunto" disabled selected>Assunto</option>
            <option value="Covid-19">Covid-19</option>
            <option value="Estágio">Estágio</option>
            <option value="Evento">Evento</option>
            <option value="Notas & similares">Notas & similares</option>
            <option value="Recados">Recados</option>
            <option value="Reunião">Reunião</option>
            <option value="Urgente">Urgente</option>
          </select>

          <select name="semestre" id="semestre" multiple data-placeholder="Filtrar por semestre..." multiple class="chosen-select">
            <option value="select" disabled selected>Semestre</option>
            <option value="1">1° Sem</option>
            <option value="2">2° Sem</option>
            <option value="3">3° Sem</option>
            <option value="4">4° Sem</option>
            <option value="5">5° Sem</option>
            <option value="6">6° Sem</option>
        </select>

          <select name="destinatario" id="multiple-checkboxes" multiple data-placeholder="Filtrar por destinatário." multiple class="chosen-select">
            <option value="destinatario" disabled selected>Destinatário</option>
            <option value="1">Diretor</option>
            <option value="2">Secretaria</option>
            <option value="3">Coordenadores</option>
            <option value="4">Professores</option>
            <option value="5">Alunos</option>
          </select>
        </section>

        <script>
          $(".chosen-select").chosen({
          no_results_text: "Oops, nenhum registro encontrado!"
        })
          </script>
        <!--bloco python para display de info:
         info 0 = TITULO  ;info 1 = REMETENTE ;info 2 = DESTINATARIO;info 3 = DATA;info 4 = ASSUNTO ;info 5 = CURSO; info 6 = MENSAGEM -->

        <div id="divContent" class='contents'>
          {% for info in infoDetails %}
          <section class="info">
            <div class="user-info">
              <div class="titulo">
                <h3>{{info[0]}}</h3>
              </div>
              <div>
                  <p><em>{{info[1]}}</em> Enviou para <em>{{info[2]}}</em></p> 
              </div>
              <p>{{info[3]}}</p>
            </div>
            <div class="corpo-info">
              <p> {{info[6]}}</p>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
      <!--fim bloco em python para display-->

      <section class="enviar">
        <a href="/envio-informacao">
          <button class="btn5 button5">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </a>
      </section>

  </main>

  <footer>
    <div class="logo-gov">
      <img src="../static/img/footer/footer.png" alt="Logo Gov">
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
          src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

      <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
          src="../static/img/footer/fb-35.png" alt="facebook"></a>

      <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
          src="../static/img/footer/ig-35.png" alt="Instagram"></a>

      <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
          src="../static/img/footer/yt-35.png" alt="Youtube"></a>
    </div>
    <p>Faculdade de Tecnologia de São José dos Campos</p>
    <p>Todos os Direitos Reservados</p>
  </footer>

  <script>
    $(function dataFiltro() {
      {
        const d = new Date(day, month, year);
      }
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function (start, end, label) {
        console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
      });
    });
  </script>

</body>

</html>