<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href='style.css'>
    <title>Document</title>
  </head>

  <body style="background-color: #1B1C21">

    <img class="logo" src="fatec logo png.png">


    <a href="" class="botao">Enviar informações</a>
    
    <div class='retangulo'></div>
    <section>
      <div class='rodape'></div>
      <img class="brasao" src="cps brasao.png">
      <p class="facul">Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal</p>
      <p class="dir">Todos os Direitos Reservados</p>
      <p class="ld">LD</p>
      <p class="fb">FB</p>
      <p class="ig">IG</p>
      <p class="yt">YT</p>
      <p class="em">EM</p>
    </section>
    <div class="feed"></div>
    <section>
      <div class="dropdown">
        <button class="data">↓Data</button>
      <div class="data-content">
        <a href="#">Janeiro</a>
        <a href="#">Fevereiro</a>
        <a href="#">Março</a>
      </div>
    </div>
  </section>
  <section>
    <div class="drop">
      <button class="curso">↓Curso</button>
      <div class="curso-content">
        <a href="#">ADM</a>
        <a href="#">DSM</a>
        <a href="#">Logística</a>
        <a href="#">Banco de Dados</a>
        <a href="#">Gestão de Produção Industrial</a>
        <a href="#">Projetos de Estruturas Aeronauticas</a>
      </div>
    </div>
  </section>
  <section>
    <div class="db">
      <button class="assuntos">↓Assuntos</button>
      <div class="assuntos-content">
        <a href="#">Covid-19</a>
        <a href="#">Provas</a>
        <a href="#">Recados</a>
      </div>
    </div>
  </section>
  <section>
    <div class="bloco1"></div>
    <div class="bloco2"></div>
    <p class="pa1">Diretoria postou para Professores</p>
    <p class="pa2">Secretaria Acadêmica postou para Alunos</p>
  </section>
  <section>
    <p class="bt">Boa tarde, para agendar ida aos laboratórios da instituição, favor entrar em contato pelo e-mail da
      secretaria com antecedência.</p>
    <p class="bd">Bom dia, hoje às 19h teremos reunião entre discentes para acordar assuntos sobre a volta às aulas
      presenciais.</p>
  </section>
</body>

</html>