<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/log.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.png">
    </header>
    <main>
        <form class="login">
            <div class="campos">
                <p>E-mail</p>
                <input type="text" name="e-mail" placeholder="exemplo@fatec.sp.gov" pattern="^[a-zA-Z0-9]+@fatec.sp.gov"  oninvalid="setCustomValidity('Insira o e-mail instituicional.')" required><br>
                
                <p>Senha</p>
                <input type="password" name="senha" required><br>
                
                <!--<button><a href="feed">Login</a></button><br>-->
                <input type="submit" class="botao">
            </div>
        
           <p class="cad">Ainda não é cadastrado? Clique <a href="cadastro">aqui!</a></p>
        </form>
    </main>                                       
</body>
</html>
