<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/log.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.png">
    </header>

    <main>
        <form class="login">
            <p class="p1">Usuário</p>
            <input type="text" name="nome"><br>
            <p class="p1">Senha</p>
            <input type="password" name="senha"><br>
            <input class="botao" type="submit" name="" value="Login"><br>
        
           <p class="p2">Ainda não é cadastrado? Clique <a href="#">aqui!</a></p>
        </form>
    </main>                                                                                               
</body>
</html>
