<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/log.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo-150.png">
    </header>
    <main>
        {% block content %}
            {% with messages = get_flashed_messages(category_filter=["erro"]) %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alerta">
                            <p>{{msg}}.<br>Para ir até a página de cadastro, clique  <a href="{{ url_for('login') }}">aqui!</a></p> 
                        </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["info"]) %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alerta">
                            <p>{{msg}}!</p> 
                         </div>
                    {% endfor%}
                {% endif %}
            {% endwith %}
            
        <form class="login" method="POST" onsubmit="return validarLog()">
            <div class="campos">
                <p>E-mail</p>
                <input type="text" name="e-mail" id ="email" placeholder="exemplo@fatec.sp.gov.br" ><br>
                <p>Senha</p>
                <input type="password" name="senha" id="senha"><br>
                <input type="submit" class="botao">
            </div>
           <p class="cad">Ainda não é cadastrado? Clique <a href="/cadastro">aqui!</a></p>
        </form>
        {% endblock %}
    </main>                                       
    <script src="../static/js/script.js"></script>   
</body>
</html>
