<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href='../static/css/my-info.css'>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

  <title>Minha Área</title>

  <script src="https://kit.fontawesome.com/e392475ffb.js" crossorigin="anonymous"></script>

</head>

<body style="background-color: #1B1C21;">
  <header>
    <img src="../static/img/logo-150.png" alt="Logo" class="logo">
  </header>

  <main>
    <div class="divExterna">
      <div class="divInterna">

        <!--bloco python para display de info:
         usuario 0 = ID  ; usuario 1 = email ; usuario 2 = nome ; usuario 3 = senha;
      -->

        <h1><i class="fas fa-user-cog"></i> Informações do Usuário</h1>

        <div class="info">
          <h2>Informações pessoais</h2>
          <h3>Nome: {{usuario[2]}} </h3>
          <h3>Email: {{usuario[1]}}</h3>
          <h3>Senha: {{usuario[3]}}</h3>
        </div>

      </div>
    </div>

  </main>

  <footer>
    <div class="logo-gov">
      <img src="../static/img/footer/footer.png" alt="Logo Gov">
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
          src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

      <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
          src="../static/img/footer/fb-35.png" alt="facebook"></a>

      <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
          src="../static/img/footer/ig-35.png" alt="Instagram"></a>

      <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
          src="../static/img/footer/yt-35.png" alt="Youtube"></a>
    </div>
    <p>Faculdade de Tecnologia de São José dos Campos</p>
    <p>Todos os Direitos Reservados</p>
  </footer>

</body>

</html>