<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Informações</title>
    <link rel="stylesheet" href="../static/css/send-info.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <img src="../static/img/logo-150.png" alt="Logo" class="logo">
    </header>

    <main>
        <div class="divExterna">
            <div class="divInterna">
                <form method="POST">
                    <section class="filter">
                        <div class="date">
                            <input type="date" name="data" id="data" value=""></input>
                        </div>

                        <select name="curso" id="multiple-checkboxes" multiple>
                            <option value="select" disabled selected>Curso</option>
                            <option value="1">Análise e Desenvolvimento de Sistemas</option>
                            <option value="2">Banco de Dados</option>
                            <option value="3">Desenvolvimento de Software Multiplataforma</option>
                            <option value="4">Gestão da Produção Industrial</option>
                            <option value="5">Logística</option>
                            <option value="6">Manufatura Avançada</option>
                            <option value="7">Manutenção de Aeronaves</option>
                            <option value="8">Projetos de Estruturas Aeronáuticas</option>
                        </select>

                        <select name="assunto" id="multiple-checkboxes" multiple>
                            <option value="assunto" disabled selected>Assunto</option>
                            <option value="Covid-19">Covid-19</option>
                            <option value="Estágio">Estágio</option>
                            <option value="Evento">Evento</option>
                            <option value="Notas & similares">Notas & similares</option>
                            <option value="Recados">Recados</option>
                            <option value="Reunião">Reunião</option>
                            <option value="Urgente">Urgente</option>
                        </select>

                        <select name="destinatario" id="multiple-checkboxes" multiple>
                            <option value="destinatario" disabled selected>Destinatário</option>
                            <option value="Diretor">Diretor</option>
                            <option value="Secretaria Administrativa">Secretaria Administrativa</option>
                            <option value="Secretaria Acadêmica">Secretaria Acadêmica</option>
                            <option value="Coordenadores">Coordenadores</option>
                            <option value="Professores">Professores</option>
                            <option value="Alunos">Alunos</option>
                        </select>
                    </section>
                    
                    <div >
                        <input class="titulo" type="text" name="titulo" id="titulo" placeholder="Escreva seu título...">
                    </div>

                    <div>
                        <textarea name="mensagem" id="mensagem" rows="20" cols="100" placeholder="Escreva sua mensagem..."></textarea>
                    </div>

                    <div class="info-buttons">
                        <input type="file" name="arquivo">
                        </input>
                        <input type="submit" class="enviar" style="margin-left: 260px;">  
                    </div>
                </form>
            </div>
        </div>

        <section>
            <a href="/feed-adm">
              <button class="btn5 button5">↩</button>
            </a>
        </section>  

    </main>

    <footer>
        <div class="logo-gov">
            <img src="../static/img/footer/footer.png" alt="Logo Gov">
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
                    src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

            <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
                    src="../static/img/footer/fb-35.png" alt="facebook"></a>

            <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
                    src="../static/img/footer/ig-35.png" alt="Instagram"></a>

            <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
                    src="../static/img/footer/yt-35.png" alt="Youtube"></a>
        </div>
        <p>Faculdade de Tecnologia de São José dos Campos</p>
        <p>Todos os Direitos Reservados</p>
    </footer>

</body>

</html>