<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Informações</title>
    <link rel="stylesheet" href="../static/css/send-info.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/b01f879dd9.js" crossorigin="anonymous"></script>

    <!--links para estilização dos filtros-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
   
</head>

<body style="background-color: #1B1C21;">
    <header>
        <img src="../static/img/logo-150.png" alt="Logo" class="logo">
    </header>

    <main>
        <div class="divExterna">
            <div class="divInterna">
                <form method="POST">
                    <section class="filter">

                        <div class="top-select">
                            <select class="selectpicker" multiple title="Curso">
                                <option value="1">Análise e Desenvolvimento de Sistemas</option>
                                <option value="2">Banco de Dados</option>
                                <option value="3">Desenvolvimento de Software Multiplataforma</option>
                                <option value="4">Gestão da Produção Industrial</option>
                                <option value="5">Logística</option>
                                <option value="6">Manufatura Avançada</option>
                                <option value="7">Manutenção de Aeronaves</option>
                                <option value="8">Projetos de Estruturas Aeronáuticas</option>
                            </select>
                            
                            <select class="selectpicker" multiple title="Assunto">
                                <option value="Covid-19">Covid-19</option>
                                <option value="Estágio">Estágio</option>
                                <option value="Evento">Evento</option>
                                <option value="Notas & similares">Notas & similares</option>
                                <option value="Recados">Recados</option>
                                <option value="Reunião">Reunião</option>
                                <option value="Urgente">Urgente</option>
                            </select>
                        </div>

                        
                        <div class="bot-select">
                            <select class="selectpicker" multiple title="Semestre">
                                <option value="1">1° Sem</option>
                                <option value="2">2° Sem</option>
                                <option value="3">3° Sem</option>
                                <option value="4">4° Sem</option>
                                <option value="5">5° Sem</option>
                                <option value="6">6° Sem</option>
                            </select>
                            
                            <select class="selectpicker" multiple title="Destinatário">
                                <option value="1">Diretor</option>
                                <option value="2">Secretaria</option>
                                <option value="3">Coordenadores</option>
                                <option value="4">Professores</option>
                                <option value="5">Alunos</option>
                            </select>
                        </div>

                    </section>
                    
                    <div >
                        <input class="titulo" type="text" name="titulo" id="titulo" placeholder="Escreva seu título...">
                    </div>

                    <div>
                        <textarea name="mensagem" id="mensagem" rows="20" cols="100" placeholder="Escreva sua mensagem..."></textarea>
                    </div>

                    <div class="info-buttons">
                        <input type="file" name="arquivo">
                        </input>
                        <input type="submit" class="enviar" style="margin-left: 260px;">  
                    </div>
                </form>
            </div>
        </div>

        <section>
            <a href="/feed-adm">
              <button class="btn5 button5">
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </a>
        </section>  

        <script>
            $(".chosen-select").chosen({
            no_results_text: "Oops, nenhum registro encontrado!"
          })
        </script>

    </main>

    <footer>
        <div class="logo-gov">
            <img src="../static/img/footer/footer.png" alt="Logo Gov">
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/school/fatecjessenvidal/" target="_blank" rel="external"><img
                    src="../static/img/footer/linkedin-35.png" alt="LinkedIn"></a>

            <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img
                    src="../static/img/footer/fb-35.png" alt="facebook"></a>

            <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img
                    src="../static/img/footer/ig-35.png" alt="Instagram"></a>

            <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img
                    src="../static/img/footer/yt-35.png" alt="Youtube"></a>
        </div>
        <p>Faculdade de Tecnologia de São José dos Campos</p>
        <p>Todos os Direitos Reservados</p>
    </footer>

</body>

</html>