body{
    background-color: #1b1c21;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

header img {
    margin-top: 50px;
}
  
main {
    position: relative;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.info_erro {
    margin: auto;
    width: 450px;
    height: fit-content;
    z-index: 5;
    background-color: #ab101a;
    border-radius: 10px;
}

.info_erro p {
    padding-top: 8px;
    padding-bottom: 8px;
}

.info_erro a {
    text-decoration: none;
    color: #ffff;
}

.info_erro a:hover {
    background-color: #C4C4C4;
    border: #C4C4C4;
    border-radius: 10px;
    color: black;
    padding: 2px;
}

.info_erro a:hover {
    color: black;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

form {
    align-items: center;
    margin: auto;
}

.campos {
    padding-top: 30px;
    margin-top: 25px;
    text-align: center;
}

.cadastro {
    width: 450px;
    height: 500px;
    top: 250px;    
    background-color: rgba(66, 85, 95, 0.8) ;
    border-radius: 10px;
    color: #ffff;   
}  

.curso {
    display: flex;
    margin: auto;
    border: 0;
    height: 40px;
    width: 330px;
}

.curso {
    justify-content: space-between;
}

.bootstrap-select .btn {
    background-color: #C4C4C4;
    border: none;
    font-size: 18px;
}

#semestre {
    font-size: 20px;
}

#curso {
    width: 225px;
    font-size: 20px;
}

input {
    border: 0;
    border-radius: 10px;
    background: #c4c4c4;
    font-size:  20px;
    height: 40px;
    width: 330px;
}

.resp {
    text-indent: 15px;
    font-size: 20px;
}

:placeholder-shown {
    font-size: 20px;
}

p {
    color: #ffff;
    margin-left: 60px;
    margin-top: 30px;
    text-align: left;
    font-size: 25px;    
}

.botao {
    border: none;
    border-radius: 10px;
    background-color: #ab101a;
    color: #ffff;
    font-size: 25px;
    width: 150px;
    height: 50px;
    margin-top: 30px;
}

.botao a { 
    text-decoration: none; 
    color: white;
}

.botao:hover {
    background-color: #C4C4C4;
    border: #C4C4C4;
    border-radius: 10px;
    color: black;
}

.botao a:hover {
    color: black;
}

@media screen and (max-width: 420px) {
    input{
        width: 80%;
    }
    .cadastro{
        width: 100%;
    }
    .curso{
        min-width: 250px;
        max-width: 80%;
    }
}