*{
  margin: 0;
  padding: 0;
}

header,
body {
  background-color: #1B1C21;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10%;
  margin-top: 20px;
}

header button {
  background-color: #AB101A;
  border: #AB101A;
  border-radius: 10px;
  width: 150px;
  height: 70px;
  margin-top: 100px;
  margin-right: 10%;
}

header button a {
  text-decoration: none;
  color: white;
  font-size: 16pt;
}

header button:hover {
  background-color: #C4C4C4;
  border: #C4C4C4;
  width: 150px;
  height: 70px;
}

header button a:hover {
  color: black;
}

main {
  position: relative;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.divExterna {
  background-color: #3A4952;
  border-radius: 10px;
  padding: 30px;
}

.divInterna {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.filter {
  display: flex;
  max-width: 100%;
  min-width: 25%;
  background-color: #C4C4C4;
  border-radius: 10px;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date input {
  background-color: #C4C4C4;
  border: #C4C4C4;
  font-size: 14pt;
}

.drop {
  justify-content: space-between;
  display: inline-block;
  margin-left: -80px;
}

.drop button {
  background-color: #C4C4C4;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.drop {
  position: absolute;
}

.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
}
  
.content a:hover {
  background-color: #f1f1f1
}
  
.drop:hover .content {
  display: block;
}
  
.drop:hover button {
  background-color: #C4C4C4;
}

.info {
  background-color: #C4C4C4;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.top-info {
  display: flex;
}

.pic {
  background-color: black;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.user-info {
  margin-left: 15px;
  text-align: left;
}

.user-info p {
  margin-bottom: 5px;
}

.corpo-info {
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5em;
}

footer {
  position: absolute;
  background-color: #D3D9D9;
  width: 100%;
  height: 280px;
}

.logo-gov {
  padding: 20px;
  text-align: center;
}

.social  {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.social a {
  padding: 5px 15px;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 10px;
}