*{
  margin: 0;
  padding: 0;
}

header,
body {
  background-color: #1B1C21;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
}

header img {
  margin-top: 50px;
}

.logo{
  width: 250px;
}

main {
  position: relative;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.divExterna {
  background-color: #3A4952;
  border-radius: 10px;
  padding: 30px;
  max-width: 100%;
  min-width: 50%;
  margin:auto;
}

.divInterna {
  background-color: white;
  border-radius: 10px;
  height: 600px;
  padding: 16px;
  margin: auto;
  max-width: 100%;
  min-width: 30%;
}

.filter {
  display: flex;
  max-width: 100%;
  min-width: 25%;
  flex-wrap: wrap;
  background-color: #C4C4C4;
  border-radius: 10px;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date input {
  background-color: #C4C4C4;
  border: #C4C4C4;
  font-size: 14pt;
}

select {  
  background-color: #C4C4C4;
  border: #C4C4C4;
  font-size: 14pt;
  width: 130px;
}

.info {
  background-color: #C4C4C4;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  max-width: 865px;
  min-width: 70%;
}

.top-info {
  display: flex;
}

.pic {
  background-color: black;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.user-info {
  margin-left: 15px;
  text-align: left;
}

.user-info p {
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 60%;
}

.corpo-info {
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5em;
  max-width: 100%;
  min-width: 20%;
}

footer {
  position: absolute;
  background-color: #D3D9D9;
  height: 280px;
  max-width: 100%;
  min-width: 100%;
  margin:auto;
}

.logo-gov {
  padding: 20px;
  text-align: center;
}

.social  {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.social a {
  padding: 5px 15px;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 10px;
  margin: auto;
}

#divContent{
  overflow:auto;
}

div.contents {
  position:relative;
  max-width: 100%;
  min-width: 60%;
  height: 530px;
  overflow: auto;
  top: 10px;
  margin: auto;
}

.adm{
  width: 170px;
  position: absolute;
  left: 1090px;
}

.btn5 {
  background-color: #ab101a;
  border: none;
  color: white;
  padding: 15px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  z-index: 1;
  margin: auto;
}

.button5 {border-radius: 50%;}

.enviar{
  position: relative;
  left: -5px;
  top: -50px;
  margin: auto;
}

@media screen and (max-width: 420px) {
  .logo{
    position: relative;
    left: 5px;
  }
  .corpo-info{
    font-size: 18px;
  }
  .user-info{
    width: 90px;
  }
  .info{
    width: 210px;
  }
  .adm{
    position: absolute;
    top: 900px;
    left: 100px;
  }
  footer{
    top: 1150px;
  }
  div.contents{
    top: 15px;
    height: 490px;
    width: 250px;
  }
 
}

@media screen and (max-width: 330px){
  .info{
    width: 180px;
    left: 10px;
  }
  footer{
    top: 1170px;
  }
}
