*{
  margin: 0;
  padding: 0;
  color: black;
}

header,
body {
  background-color: #1B1C21;
  font-family: Arial;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
}

header img {
  margin-top: 50px;
}

main {
  position: relative;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.divExterna {
  background-color: #3A4952;
  border-radius: 10px;
  padding: 30px;
  max-width: 100%;
  min-width: 30%;
  height: 680px;
  min-height: fit-content;
  margin:auto;
}

.divInterna {
  background-color: white;
  border-radius: 10px;
  max-height: fit-content;
  min-height: 600px;
  padding: 16px;
  margin: auto;
  max-width: 95%;
  min-width: 30%;
}

.filter {
  max-width: 100%;
  min-width: 30%;
  flex-wrap: wrap;
  background-color: #C4C4C4;
  justify-content: space-between;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 50px;
}

.bootstrap-select .btn {
  background-color: #faf9f9;
}

.bootstrap-select .dropdown-menu {
  background-color: #ebebeb;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.container input {
  display: flex;
  background-color: #faf9f9;
  border: none;
  font-size: 16px;
  height: 38px;
  width: 170px;
  border-radius: 5px;
  text-indent: 5px;
  margin-top: 8px;
  margin-right: 5px ;
}

.container {
  display: flex;
  justify-content: center;
}

select {  
  background-color: #C4C4C4;
  border: #C4C4C4;
  font-size: 14pt;
  display: flex;
}

.escondido{
  display: none;
}

.mostrar{
  display: inline;
}
.fas.fa-ellipsis-v{
  cursor: pointer;
  -webkit-transition: 0.5s;
}

.fas.fa-ellipsis-v:hover{
  -webkit-transition: 0.5s;
  cursor: pointer;
  color: #ab101a;
}
.info {
  background-color: #C4C4C4;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  max-width: 100%;
  min-width: 30%;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
}

.user-info {
  margin-left: 15px;
  text-align: left;
}

.titulo {
  font-size: 18px;
  margin-bottom: 5px;

}
.data{
  position: relative;
  text-align: right;
  bottom: 45px;
 
}

em {
  color: #ab101a;
}

.user-info p {
  line-height: 30px;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 60%;
}

.corpo-info {
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5em;
  max-width: 90%;
  min-width: 20%;
  text-indent: 15px;
  word-wrap: break-word;
  word-break: keep-all;
}

footer {
  position: absolute;
  background-color: #D3D9D9;
  height: 280px;
  max-width: 100%;
  min-width: 100%;
  margin:auto;
}

.logo-gov {
  padding: 20px;
  text-align: center;
}

.social  {
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.social a {
  padding: 5px 15px;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 10px;
  margin: auto;
}

#divContent{
  overflow:auto;
}

div.contents {
  position:relative;
  width: 100%;
  max-height: 430px;
  min-height: fit-content;
  overflow: auto;
  top: 10px;
  margin: auto;
}

nav {
  width: 0px;
  height: 50px;
  position: relative;
  left: 100px;
  top: 40px;
  background: #c4c4c4;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

input{
  display:none;
}

.nav-menu{
  width: 700px;
  float: left;
}

.nav-menu ul li{
  float: left;
  list-style: none;
}

.nav-menu li{
  box-sizing: border-box;
  margin: 1.5% 3%;
  font-size: 20px;
}

.nav-menu ul li a{
  text-decoration: none;
  color: black;
}

.nav-menu ul li a:hover{
  color: #ab101a;
}

label, label:before, label:after{
  width: 30px;
  height: 25px;
  position: absolute;
}

label{
  top: 40px;
  left: 100px;
  background: #ab101a;
  cursor: pointer;
  transition: 0.3s;
}

label:before, label:after{
  content:'';
  height: 5px;
  top: 5px;
  width: 30px;
  background: black;
  left: 0px;
}

label:after{
  top: 15px;
}

input:checked ~ label{
  background: transparent;
}

input:checked ~ label:before, input:checked ~ label:after{
  background: #ab101a;
  transform: rotate(-45deg);
}

input:checked ~ label:after{
  transform: rotate(45deg);
  top: 23px;
}

input:checked ~ nav{
  width: 800px;
  border-radius: 10px;
}

label {
  position: relative;
  top: 150px;
  left: -100px;
}

@media screen and (max-width: 420px) {
  .logo{
    position: relative;
    left: 5px;
  }
  
  select{
    margin-bottom: 5%;
  }

  .titulo {
    width: 80%;
  }

  .corpo-info{
    font-size: 18px;
  
  }

  .user-info{
    width: 95%;
    margin: auto;
    word-break: keep-all;
  }
  .info{
    width: 80%;
    margin: auto;
    margin-bottom: 15%;
  }
  .adm{
    position: absolute;
    top: 900px;
    left: 100px;
  }
  footer{
    top: 1150px;
  }
  div.contents{
    height: 400px;
    width: 100%;
  }

  .env{
    position: absolute;
    top: 900px;
    left: 120px;
  }
  
  .divExterna{
    width: 80%;
    height: 800px;
  }
}

@media screen and (max-width: 330px){
  .info{
    width: 80%;
    margin: auto;
  }
  .titulo{
    width: 80%;
  }
  footer{
    top: 1170px;
  }
  .divExterna{
    width: 80%;
  }
}