body {
    background-color: #1b1c21;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

main {
    position: relative;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

header img {
    margin-top: 50px;
}

.alerta {
    margin: auto;
    width: 450px;
    height: fit-content;
    z-index: 5;
    background-color: #ab101a;
    border-radius: 10px;
}

.alerta p {
    padding-top: 8px;
    padding-bottom: 8px;
}

.alerta a {
    text-decoration: none;
    color: #ffff;
}

.alerta a:hover {
    background-color: #C4C4C4;
    border: #C4C4C4;
    border-radius: 10px;
    color: black;
    padding: 2px;
}

.alerta a:hover {
    color: black;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
  
form {
    align-items: center;
    margin: auto;
}

.confirmacao {
    width: 450px;
    height: 300px;
    top: 250px;    
    background-color: #3A4952;
    border-radius: 10px;
    color: white;
}

#codigo {
    text-indent: 15px;
}

.login {    
    width: 450px;
    height: 540px;
    top: 250px;    
    background-color: #3A4952;
    border-radius: 10px;
    color: white;
}

.campos {
    padding-top: 10px;
    margin-top: 25px;
    text-align: center;
}

#senha, 
#email {
    text-indent: 15px;
}

input {
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #c4c4c4;
    font-size: 20px;
    height: 40px;
    width: 330px;
}

.botao {
    border: none;
    border-radius: 10px;
    background-color: #ab101a;
    color: #ffff;
    font-size: 25px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

.botao a {
    text-decoration: none; 
    color: #ffff;
}

.botao:hover {
    background-color: #C4C4C4;
    border: #C4C4C4;
    border-radius: 10px;
    color: black;
}

.botao a:hover {
    color: black;
}

p {
    color: #ffff;
    margin-left: 60px;
    margin-top: 30px;
    text-align: left;
    font-size: 25px;    
}

.cad {
    font-size: 18px;
    padding-top: 20px;
}

.cad a {
    color: #ab101a;
    text-shadow: black;
    text-decoration: none;
}

.cad a:hover {
    background-color: #ab101a;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 415px){
    input{
        width: 80%;
    }
}