* {
 margin: 0;
 padding: 0;
 color: black;
 font-family: Arial;
}

header {
 display: flex;
 justify-content: space-between;
 padding: 10px;
 align-items: center;
 min-width: 300px;
 max-width: 1000px;
 margin: auto;
}

header img {
 margin-top: 50px;
}

main {
 position: relative;
 margin: auto;
 min-width: 300px;
 max-width: 1000px;
 margin-bottom: 50px;
 margin-top: 50px;
 padding: 10px;
 text-align: center;
}

.divExterna {
 background-color: #3A4952;
 border-radius: 10px;
 padding: 30px;
 margin-top: 50px;
}

.divInterna {
 background-color: white;
 border-radius: 10px;
 padding: 20px;
}

h1 {
 width: 100%;
 background-color: #C4C4C4;
 border-radius: 10px;
 padding-top: 15px;
 padding-bottom: 15px;
 font-size: 35px;
}

.info {
 background-color: #C4C4C4;
 border-radius: 10px;
 margin-top: 20px;
 justify-content: start;
 line-height: 30px;
}

.info h2,
.info h3 {
 font-weight: normal;
}

.info h2 {
 font-size: 30px;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ab101a;
}

.info h3 {
 font-size: 22px;
 padding-bottom: 15px;
 text-align: left;
 margin-left: 40px;
}

.fas.fa-eye-slash,.fas.fa-eye{
 cursor: pointer;
 -webkit-transition: 0.5s;
}

.fas.fa-eye-slash:hover,.fas.fa-eye:hover {
 -webkit-transition: 0.5s;
 color: #ab101a;
}

.escondido {
 display: none;
 -webkit-transition: 0.5s;
}

.mostrar {
 display: block;
}

#divContent{
 overflow:auto;
}

div.contents {
 position:relative;
 width: 100%;
 height: 430px;
 overflow: auto;
 top: 10px;
 margin: auto;
}

.senha-nome {
 display: flex;
 flex-direction: row;
}

footer {
 position: absolute;
 background-color: #D3D9D9;
 height: 280px;
 max-width: 100%;
 min-width: 100%;
 margin: auto;
}

.logo-gov {
 padding: 20px;
 text-align: center;
}

.social {
 display: flex;
 padding: 10px;
 justify-content: center;
 text-align: center;
}

.social a {
 padding: 5px 15px;
 text-align: center;
}

footer p {
 text-align: center;
 padding: 10px;
 margin: auto;
}

@media screen and (max-width: 420px) {
    footer{
        height: 300px;
      }
    .info h2{
        font-size: 25px;
    }
}